h1 {
    color: rgb(50,50,50);
    background-color: rgb(210, 210, 210);
    border-width: 3px;

    border-style: ridge;
    border-color: rgb(150,150,150);
    padding: 20px;
    text-align: center;
    font-size: 48px;
}
body{
    background-color: rgb(225,225,240);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;

}
ul{
    background-color: rgb(180, 180, 180);
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    padding-left: 40px;
}
p1{
    background-color: rgb(180, 180, 180);
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
div{
    background-color: rgb(220, 220, 200);
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    text-align: center;
}